<div id="social">
    <h3 class="sponsors-header tk-korolev-compressed">KATSO MYÖS</h3>
    <ul class="social-items">
        <li class="social-link">
            <a href="https://facebook.com/VirratHacklab/">
                <img height="64" src="{{ '/assets/images/fa-facebook.png' | relative_url }}" />
            </a>
        </li>
        <li class="social-link">
            <a href="https://twitter.com/VirratHacklab/">
                <img height="64" src="{{ '/assets/images/fa-twitter.png' | relative_url }}" />
            </a>
        </li>
        <li class="social-link">
            <a href="https://instagram.com/VirratHacklab/">
                <img height="64" src="{{ '/assets/images/fa-instagram.png' | relative_url }}" />
            </a>
        </li>
    </ul>
</div>
