<div id="sponsors">
    <h3 class="sponsors-header tk-korolev-compressed">PILVIKAPASITEETIN TARJOAA</h3>
    <ul class="sponsor-list">
        <li class="sponsor">
            <a href="https://upcloud.com/signup?utm_source=VirratHacklab&utm_medium=banner&utm_campaign=VirratHacklab" target="_blank">
                <img src="{{ '/assets/images/sponsors/upcloud.svg' | relative_url }}" height="40" />
            </a>
        </li>
    </ul>
    <br />
    <br />
    <h3 class="sponsors-header tk-korolev-compressed">YHTEISTYÖSSÄ</h3>
    <ul class="sponsor-list">
        <li class="sponsor">
            <img src="{{ '/assets/images/sponsors/virrat.png' | relative_url }}" height="40" />
        </li>
        <li class="sponsor">
            <img src="{{ '/assets/images/sponsors/bosch.png' | relative_url }}" height="40" />
        </li>
        <li class="sponsor">
            <img src="{{ '/assets/images/sponsors/k-rauta-virrat.png' | relative_url }}" height="40" />
        </li>
        <li class="sponsor">
            <img src="{{ '/assets/images/sponsors/op-virrat.png' | relative_url }}" height="40" />
        </li>
        <li class="sponsor">
            <img src="{{ '/assets/images/sponsors/phpoy.png' | relative_url }}" height="40" />
        </li>
        <li class="sponsor">
            <img src="{{ '/assets/images/sponsors/poko.png' | relative_url }}" height="40" />
        </li>
        <li class="sponsor">
            <img src="{{ '/assets/images/sponsors/tredu.png' | relative_url }}" height="40" />
        </li>
        <li class="sponsor">
            <img src="{{ '/assets/images/sponsors/motivesafety.png' | relative_url }}" height="40" />
        </li>
    </ul>
</div>
