<!doctype html>
<!-- Based on theme designed and developed by Jon Rohan, on Feb 7, 2012. -->
<!-- Follow him for fun. http://twitter.com/jonrohan. Tail his code on https://github.com/jonrohan -->
<html lang="{{ site.lang | default: "fi-FI" }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

        <link rel="shortcut icon" href="{{ '/assets/images/favicon.png' | relative_url }}">

        <link rel="stylesheet" href="{{ '/assets/css/reset.css?v=' | append: site.github.build_revision | relative_url }}">
        <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
        <script type="text/javascript" src="{{ '/assets/js/script.js' | relative_url }}"></script>

        <title>{{ page.title | default: site.title }}</title>
        <meta name="description" content="{{ page.description | default: site.description }}">
        <meta name="viewport" content="width=device-width,initial-scale=1">

        <meta property="og:image" content="https://virrat.hacklab.fi/assets/images/share_logo.png" />
        <meta property="og:title" content="{{ page.title | default: site.title }}" />
        <meta property="og:url" content="{{ page.url | prepend: 'https://virrat.hacklab.fi' }}" />
        <meta property="og:site_name" content="Virrat Hacklab" />
        <meta property="og:type" content="article" />

    </head>

    <body>
        <div class="wrapper">
            <header class="white media">
                <a class="button join" href="/liity.html">
                    LIITY TAI TUE!
                </a>
                <a class="menulink" href="#navigation">
                    <div class="hamburger"></div>
                </a>
                <a href="/">
                    <img src="{{ 'assets/images/logo.png' | relative_url }}" class="logo" />
                </a>
            </header>
            <div id="container">
                <div id="main" role="main">
                    <div class="download-bar">
                        <div class="inner">
                            <span style="float:right">{{ page.date | date: "%d.%m.%Y %R" }}</span>
                            {{ page.title }}
                        </div>
                        <span class="blc"></span><span class="brc"></span>
                    </div>
                    <article class="markdown-body">
                        {{ content }}
                    </article>
                </div>
            </div>
            <footer>
                <div class="owner">
                    &nbsp;
                    <a class="toplink" href="#top"></a>
                    <span class="tlc"></span><span class="trc"></span>
                </div>
                <nav id="navigation" class="media">
                    <ul>
                        <li><a href="/hacklab.html">HACKLAB</a></li>
                        <li><a href="/saannot.html">SÄÄNNÖT</a></li>
                        <li><a href="/blogi.html">BLOGI</a></li>
                        <li><a href="/kerhot.html">KERHOT</a></li>
                        <li><a href="/tapahtumat.html">TAPAHTUMAT</a></li>
                    </ul>
                </nav>
                <ul id="social">
                    <li>
                        <a href="https://facebook.com/VirratHacklab/">
                            <img height="64" src="{{ '/assets/images/fa-facebook.png' | relative_url }}" />
                        </a>
                    </li>
                    <li>
                        <a href="https://twitter.com/VirratHacklab/">
                            <img height="64" src="{{ '/assets/images/fa-twitter.png' | relative_url }}" />
                        </a>
                    </li>
                    <li>
                        <a href="https://instagram.com/VirratHacklab/">
                            <img height="64" src="{{ '/assets/images/fa-instagram.png' | relative_url }}" />
                        </a>
                    </li>
                </ul>
            </footer>
        </div>
        <div class="current-section">
            <a href="#top">Scroll to top</a>
            <div class="inner">
                <p class="name"></p>
            </div>
            <span class="blc"></span><span class="brc"></span>
        </div>

        {% if site.google_analytics %}
        <script type="text/javascript">
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
            ga('create', '{{ site.google_analytics }}', 'auto');
            ga('send', 'pageview');
        </script>
        {% endif %}
    </body>
</html>
